<div>
    <h2> What is Spaced Repetition System </h2>
    <p>Spaced Repetition is a learning system that incorporates increasing interval time between
    subsequent reviews of the previously learned material in order to exploit the psychological
    spacing effect. The learning of a certain material is greater when the studying is spread over time
    as opposed to studying the same material in a single session.</p>
</div>
