<div class='row'>
   <h1> Card View</h1>
   <%=render 'front'%>
   <%=render 'back'%>
   <br>
   <div class="well">
    Tags:
    <% @card.tags.each do |tag|%>
      |<%= link_to tag.name, tag_path(tag)%>
    <% end %>|
   </div> 
</div>